.section-title blockquote {
  padding: 0rem 2rem; }

.section-title blockquote:before {
  content: ""; }

.section-title .learn-more {
  display: grid; }

.section-title button:hover {
  background-color: var(--dark-orange);
  box-shadow: inset 0 0 0 2px white; }
  .section-title button:hover a {
    color: white; }
